
:root {
  --bs-font-sans-serif: 'Noto Sans';
  /* header */
  --app-topnav-bg: black;
  --app-footer-bg: black;
}

html, body, #__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
