.appFooter {
    background-color: var(--app-footer-bg);
}

.appFooter :global(.app-bs-icon) {
    font-size: 1rem;
    color: white;
    /* color: cornflowerblue; */
}

@media only screen and (min-width: 700px) {
    .appFooter :global(.app-bs-icon) {
        font-size: 1.5rem;
    }
}