.blogPost header h1 {
    font-size: 2rem;
}

.blogPost :global(.featured-image.native-image) {
    max-height: 500px;
}

.blogPost :global(.blog-post-featured-image) {
    max-height: 70vh;
}

@media only screen and (min-width: 500px) {
    .blogPost header h1 {
        font-size: 4rem;
    }
}