header.top-nav {
    background-size: cover;
    background-color: var(--app-topnav-bg);
}

header.top-nav .nav-link {
    opacity: .8;
    transition: opacity 0.35s ease-in-out;
}

header.top-nav .nav-link:hover {
    opacity: 1;
}

header.top-nav .hero-banner {
    max-height: 340px;
    min-height: 200px
}

header.top-nav .hero-banner h2 {
    font-weight: lighter;
    font-size: 1.1rem;
    color: wheat;
}