.topNav {
    background-size: cover;
    background-color: var(--app-topnav-bg);
}

.topNav :global(.nav-link)  {
    opacity: .8;
    transition: opacity 0.35s ease-in-out;
}

.topNav :global(.nav-link):hover {
    opacity: 1;
}

.heroBanner {
    max-height: 340px;
    min-height: 200px
}

.heroBanner h2 {
    font-weight: lighter;
    font-size: 1.1rem;
    color: wheat;
}